<h2> My Heroes </h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <!-- () around click tells Angular to listen for the button element's click event -->
        <!-- When the current row hero is the same as the selectedHero, Angular adds the selected CSS class -->
        <button [class.selected]="hero === selectedHero"  type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>    
</ul>

